
.vs/JewelsOnContainers/DesignTimeBuild/.dtbcache.v2
.vs/JewelsOnContainers/v17/.suo
.vs/JewelsOnContainers/DesignTimeBuild/.dtbcache.v2
.vs/JewelsOnContainers/v17/.suo
ProductCatalogAPI/bin/Debug/netcoreapp3.1/appsettings.Development.json
ProductCatalogAPI/bin/Debug/netcoreapp3.1/appsettings.json
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/ProductCatalogAPI.deps.json
ProductCatalogAPI/bin/Debug/netcoreapp3.1/ProductCatalogAPI.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/ProductCatalogAPI.exe
ProductCatalogAPI/bin/Debug/netcoreapp3.1/ProductCatalogAPI.pdb
ProductCatalogAPI/bin/Debug/netcoreapp3.1/ProductCatalogAPI.runtimeconfig.dev.json
ProductCatalogAPI/bin/Debug/netcoreapp3.1/ProductCatalogAPI.runtimeconfig.json
ProductCatalogAPI/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.0/System.Runtime.Caching.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/runtimes/unix/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/runtimes/win-arm64/native/sni.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/runtimes/win-x64/native/sni.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/runtimes/win-x86/native/sni.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.0/System.Runtime.Caching.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netcoreapp2.1/Microsoft.Data.SqlClient.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
ProductCatalogAPI/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
ProductCatalogAPI/obj/Debug/netcoreapp3.1/apphost.exe
ProductCatalogAPI/obj/Debug/netcoreapp3.1/ProductCatalogAPI.csproj.BuildWithSkipAnalyzers
ProductCatalogAPI/obj/Debug/netcoreapp3.1/ProductCatalogAPI.csproj.CopyComplete
ProductCatalogAPI/obj/Debug/netcoreapp3.1/ProductCatalogAPI.csproj.CoreCompileInputs.cache
ProductCatalogAPI/obj/Debug/netcoreapp3.1/ProductCatalogAPI.csproj.FileListAbsolute.txt
ProductCatalogAPI/obj/Debug/netcoreapp3.1/ProductCatalogAPI.dll
ProductCatalogAPI/obj/Debug/netcoreapp3.1/ProductCatalogAPI.genruntimeconfig.cache
ProductCatalogAPI/obj/Debug/netcoreapp3.1/ProductCatalogAPI.MvcApplicationPartsAssemblyInfo.cache
ProductCatalogAPI/obj/Debug/netcoreapp3.1/ProductCatalogAPI.pdb
ProductCatalogAPI/obj/Debug/netcoreapp3.1/ProductCatalogAPI.RazorTargetAssemblyInfo.cache
ProductCatalogAPI/obj/Debug/netcoreapp3.1/staticwebassets/ProductCatalogAPI.StaticWebAssets.Manifest.cache
.vs/JewelsOnContainers/DesignTimeBuild/.dtbcache.v2
.vs/JewelsOnContainers/v17/.suo
